page-page-menu-param-exo {
    ion-card {
        position: relative;
        text-align: center;
    }
    .card-title {
        top:45%;
        position: absolute;
        font-size: 18px;
        width: 100%;
        font-weight: 700;
        color: #fff;
    }
    h1{
        text-align: center
    }
}
